[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "uscoauditlog"]
	path = uscoauditlog
	url = https://github.com/cran/uscoauditlog
